<div style="width:100%">
        <div style="width:10%;float:left;">
                <side-nav-directive></side-nav-directive>
        </div>

        <div style="width:90%;margin:10px 0 0 130px" calss="container" ng-controller="EditProfileController">
                <fieldset style="margin-left:25px;float:Center;border:1px solid black; border-radius: 6px;">
                        <legend style="margin-left:10px;width:105px;border-bottom:0px solid black">
                                <i>Edit Profile</i>
                        </legend>
                        <edit-profile-directive></edit-profile-directive>
                </fieldset>
        </div>
</div>
</div>