<div class="panel panel-primary" style="max-width: 650px;margin-left: 374px;">
    <div class="panel-heading">
        <h3 class="panel-title">Candidate Details</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">Candidate Name</div>
            <div class="col-sm-4 ">
                <span ng-bind="$ctrl.name" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">Mail-id</div>
            <div class="col-sm-4 ">
                <span ng-bind="$ctrl.email" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">Phone Number</div>
            <div class="col-sm-4 ">
                <span ng-bind="$ctrl.phoneNumber" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">Resume</div>
            <div class="col-sm-4 ">
                <a ng-click="$ctrl.getResume()">click here to open resume</a>
            </div>
        </div>
    </div>
</div>