<nav class="navbar navbar-inverseTab"> 
        <div class="container-fluid"> 
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9"> 
                <ul class="nav navbar-nav"> 
                    <li class="active">
                        <a ng-link="['Candidate']" class="aFont">Candidate Registration</a></li>
                    </li> 
                    <li><a ng-link="['AdminPanelAssigneeForm']" class="aFont">Assign Panel</a></li>                    
                </ul> 
                <ul style="float:right"><a ng-click="$ctrl.logout()" href="/#login" class="aFont"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout</a></ul>
            </div> 
        </div> 
    </nav><ng-outlet></ng-outlet>