<div class="container" style="max-width:500px">
    <form enctype="multipart/form-data">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Feedback Submitted</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <p><b>You have successfully submitted the feedback.
                    </b></p>
                </div>
                <div class="row">
                    <input type="button" class="btn btn-primary" style="margin-left:40%;width:20%"  ng-click="$ctrl.closeWindow();"value=CLOSE></button>
                </div>
            <!-- </div> -->
        </div>
    </form>
</div>