<form ng-submit="$ctrl.submit(skillLevel)" name="skillLevel">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Skill Level</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">Skill Level</div>
                        <div class="col-sm-5">
                            <input type="hidden" ng-model="$ctrl.skill.skillId">
                            <input type="text" style="padding:3px" class="form-inputcontrol" name="skillLevel" ng-model="$ctrl.skill.skillLevel" required/>
                            <span class="has-error" style="color:red;font-size:15px;text-align:center" ng-show="skillLevel.$dirty">

                                <span ng-show="skillLevel.skillLevel.$error.required">Fill the Skill Level</span>

                            </span>
                        </div>
                        <div class="col-sm-4">
                            <input type="submit" value="{{!$ctrl.skill.skillId ? 'Add' : 'Update'}}" class="btn btn-primary btn-rt" id="skillLevelAddedAlert"/>
                            <input type="button" value="Reset" ng-click="$ctrl.reset(skillLevel)" class="btn btn-primary btn-rt" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="alert alert-success" role="alert" id="skillLevelAdded" style="display:none;width:50%;margin-left:25%">
    <strong>skill level added successfully</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-warning" role="alert" id="skillLevelDeleted" style="display:none;width:50%;margin-left:25%">
    <strong>skill level deleted successfully</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-success" role="alert" id="skillLevelUpdated" style="display:none;width:50%;margin-left:25%">
        <strong>skill level updated successfully</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="bs-example" data-example-id="panel-without-body-with-table">
    <div class="panel panel-primary" style="max-width:500px;margin-left:33%;margin-right:33%;margin-bottom:4%">
        <div class="panel-heading">
            <h3 class="panel-title">Skills Level Stack</h3>
        </div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <th>Skill Levels</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr ng-repeat="skill in $ctrl.skillLevel">
                    <td>
                        <span ng-bind="skill.skillLevel"></span>
                    </td>
                    <td>&nbsp;
                        <a class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="$ctrl.toEdit(skill)" title="Edit"></a>&nbsp;&nbsp;&nbsp;
                        <a class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="$ctrl.usertoDelete(skill)" data-toggle="modal" data-trigger="focus"
                            data-target="#subView" title="Delete"></a>
                    </td>
                    <div class="modal fade" id="subView" role="dialog" style="margin-top:250px">
                        <div class="modal-dialog modal-sm">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <center>
                                        <h4 class="panel-title">Are you sure to delete</h4>
                                    </center>
                                </div>
                                <div class="modal-body">
                                    <center>
                                        <button type="button" class="btn btn-default btn-primary custom-width" data-dismiss="modal" ng-model="$ctrl.deleteSkillLevel"
                                            ng-click="$ctrl.toDelete($ctrl.deleteSkillLevel)" id="skillLevelDeletedAlert">
                                            <span class="glyphicon glyphicon-trash">Delete</span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-primary custom-width" data-dismiss="modal">
                                            <span class="glyphicon glyphicon-remove">Cancel</span>
                                        </button>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <script>
    $(document).ready(function(){
        $("#skillLevelAddedAlert").click(function(){
            $("#skillLevelUpdated").show();
            setTimeout(function() { $("#skillLevelUpdated").hide(); }, 2500);
        });
        $("#skillLevelDeletedAlert").click(function(){
            $("#skillLevelDeleted").show();
            setTimeout(function() { $("#skillLevelDeleted").hide(); }, 2500);
        });
    });
</script> -->
