<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WeekEndAssignment-2/src/com/weekend/assignment2/MainConsole.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.weekend.assignment2.MainConsole"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WeekEndAssignment-2"/>
</launchConfiguration>
